* {
    box-sizing: border-box; /*Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliqué à tous les éléments */
   scroll-behavior: smooth;
   }

   @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin-top: 0px;
}

/*====Header part====*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin: 10px 0px 0px 60px;
    width: 6%;
}

#nav {
    text-align: right;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

#nav ul {
    margin-top: 0px;
    list-style-type: none;
}

#nav li {
    position: relative;
    padding: 2px 5px;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-right: 50px;
    border-top: 4px solid transparent;
}

#nav li::after {
    transition: width .250s linear;
    content: '';
    position: absolute;
    height: 4px;
    background : #0065FC;
    top: -4px;
    left: -10%;
    width: 0;
}

#nav li:hover::after {
    width: 115%;
}

/*====Researchbar part====*/

#littleinforesearch {
    display: flex;
    height: 35px;
    flex-direction: row;
    padding: 0 24px;
}

#littleinforesearch .icon {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

#littleinfo input {
    border: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    padding-left: 8px;
}

#littleinfo input::placeholder {
    color: black;
    font-weight: bold;
}

#littleinfo button {
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 0 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

#littleinfo h4 {
    margin-bottom: 0px;
    padding-left: 30px;
}

#littleinfo h6 {
    margin: 10px 0px;
    padding-left: 30px;
}

/*====filter part====*/

#filter {
    padding-top: 0px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
}

#filterbar {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 0;
}

#filterbar h5 {
    padding: 0 10px;
    margin-right: 8px;
}

#filterbar li div {
    width: 35px;
    height: 35px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 10px;
}

#filterbar li {
    display: flex;
    align-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    padding: 0 16px;
    padding-left: 0px;
    margin-right: 16px;
    border-left: 0;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
}

#filterbar li:hover {
    background-color: #F2F2F2;
    color: #0065FC;
}

.info {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 20px;
}

#infoimg {
    width: 25px;
    height: 25px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 10px;
}

/*====lodging part====*/

#lodging {
    display: flex;
}

.menu {
    display: block;
    background-color: #F2F2F2;
    border: 10px solid #F2F2F2;
    border-radius: 3%;
    width: 65%;
    height: 725px;
    padding: 4px 0px;
    margin-left: 24px;
}

#hebergement {
    padding: 0 70px;
    padding-top: 30px;
    margin: 0 0;
    padding-bottom: 0px;
}

#menulist {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 60px;
}

.menuitems {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    border: 6px solid white;
    background-color: white;
    width: 325px;
    height: 240px;
    margin: 20px 0px;
    padding: 0px 0px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

#menuItemsImg {
    display: flex;
    align-self: flex-start;
    width: 100%;
}

#menuItemsImg img {
    width: 325px;
    /*394*/
    /*182*/
    height: 152px;
    object-fit: cover;
    position: absolute;
}

.menuItemsInfo {
    display: flex;
    border: 1px solid white;
    width: 100%;
    flex-direction: column;
    padding: 0 10px;
    /*margin: 40p 0;*/
    margin-bottom: 30px;
    background-color: white;
    align-items: stretch;
    position: absolute;
}

#menulist h4 {
    display: flex;
    margin: 0 0;
    padding-bottom: 4px;
}

#menulist h5 {
    display: flex;
    margin: 0 0;
}

.starRating {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    padding: 5px 10px; 
    color: #0065FC;
}

.greyStar {
    color: #F2F2F2 !important;
}

/*====mostpopular part====*/

#showmore {
    padding: 0px 70px;
}

#mostPopularPart {
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: flex-start;
}

#mostPopular {
    display: flex;
    flex-direction: row;
    padding: 0 90px;
    /*90*/
    margin: 0 0;
    padding-top: 30px;
}

#mostPopularIcon {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    padding-left: 82px;
}

.asidemenu {
    display: block;
    align-items: center;
    align-content: center;
    background-color: #F2F2F2;
    border: 10px solid #F2F2F2;
    border-radius: 3%;
    width: 30%;
    height: 725px;
    margin-left: 40px;
}

#sidelist {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 18px;
    margin: 0 0;
}

.sidelistitems {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    border: 6px solid white;
    background-color: white;
    width: 360px;
    height: 170px;
    margin: 18px 0px;
    padding: 0px 0px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.sideItemsImg {
    display: flex;
    align-self: flex-start;
    width: 140px;
    height: 60px;
}

.sideItemsImg img {
    width: 138px;
    height: 160px;
    object-fit: cover;
    position: absolute;
}

.sideItemsInfo {
    display: flex;
    border: 1px solid white;
    width: 60%;
    flex-direction: column;
    padding: 10px 14px;
    background-color: white;
    align-self: flex-start;
    position: relative;
}

.sideItemsInfo h4 {
    display: flex;
    margin: 0 0;
    padding-bottom: 10px;
}

.sideItemsInfo h5 {
    display: flex;
    margin: 0 0;
    padding-bottom: 10px;
}

.sideStarRaiting {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
    position: absolute;
    padding: 8px 200px;
    color: #0065FC;
}

.sideGreyStar {
    color: #F2F2F2 !important;
}

/*====activity part====*/

#activityTitle {
    padding: 0 64px;
    padding-top: 30px;
    margin: 0 0;
    padding-bottom: 0px;
}

#activity {
    display: flex;
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
}

#leftActivityList {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
}

#rightActivityList {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 0;
}

.activityItemImg {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.activityItemImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activityItemInfo {
    display: flex;
    width: 100%;
    height: 14%;
    margin-bottom: 0px;
    padding: 0 18px;
}

.largeActivityItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    height: 460px;
    margin: 10px 0px;
    padding: 0 0px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.mediumActivityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    width: 350px;
    height: 246px;
    margin: 10px 0px;
    padding: 0px 0px;
    padding-bottom: 26px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.smallestActivityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: flex-end;
    background-color: white;
    width: 350px;
    height: 180px;
    margin: 10px 0px;
    padding: 0px 0px;
    padding-bottom: 26px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.smallActivityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    width: 325px;
    height: 190px;
    margin: 10px 0px;
    padding: 0px 0px;
    padding-bottom: 28px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.activityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    width: 325px;
    height: 220px;
    margin: 10px 0px;
    padding: 0px 0px;
    padding-bottom: 26px;
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

/*====footer part====*/

footer {
    display: flex;
    background-color: #F2F2F2;
}

.footerpart {
    width: 33%;
    margin-left: 30px;
}