* {
    box-sizing: border-box; /*Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliqué à tous les éléments */
   }

   @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin-top: 0px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin: 10px 0px 0px 60px;
    width: 6%;
}

#nav {
    text-align: right;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

#nav ul {
    margin-top: 0px;
    list-style-type: none;
}

#nav li {
    padding: 2px 5px;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-right: 50px;
    border-top: 4px solid transparent;
}

#nav li:hover {
    border-top: 4px solid #0065FC;
}

#littleinfo h4 {
    margin-bottom: 0px;
}

#littleinfo h6 {
    margin: 10px 0px;
}

#filter {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
}

#filterbar {
    list-style-type: none;
    text-align: left;
}

#filter li {
    display: inline-block;
    margin-right: 50px;
}

.menu {
    background-color: #F2F2F2;
}

#menulist {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.bottomitems {
    display: inline-block;
    align-self: flex-end;
}

#menulist img {
    width: 60%;
}

#bottomitems {
    align-content: flex-end;
}

.asidemenu {
    background-color: #F2F2F2;
}

#sidelist {
    display: flex;
    flex-direction: column;
}

#sidelist img {
    width: 10%;
}

#activity {
    background-color: #F2F2F2;
}

#activitylist {
    display: flex;
    list-style-type: none;
    align-items: center;
}

#activitylist img {
    width: 50%;
}

footer {
    display: flex;
    background-color: #F2F2F2;
}

.footerpart {
    width: 33%;
}