* {
    box-sizing: border-box; /*Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliqué à tous les éléments */
   }

#nav {
    text-align: right;
}

#nav ul {
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    list-style-type: none;
}

#nav li {
    float: left;
    padding: 2px 5px;
}